.service-slider-sec {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include min(992) {
        height: 100vh;
    }
    @include max(991.98) {
        padding: 50px 0;
    }
    &.desktop {
        @include max(991.98) {
            display: none;
        }
    }
    &.mobile {
        @include min(992) {
            display: none;
        }
        @include max(991.98) {
            overflow-x: hidden;
        }
    }
    .container {
        @include min(992) {
            margin-left: auto;
            margin-right: 0;
            padding-right: 0;
        }
        @include min(1200) {
            width: 100%;
            max-width: calc((50vw - (1140px / 2)) + 1140px + 12px);
        }
        @include min(1600) {
            width: 100%;
            max-width: calc((50vw - (1600px / 2)) + 1600px + 12px);
        }
        .row {
            > * {
                &:first-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
    .service-pagination {
        position: absolute;
        right: 80px !important;
        left: unset !important;
        top: 38px;
        bottom: unset !important;
        transform: translateX(0) !important;
        --swiper-pagination-color: #{$quinary-color};
        --swiper-pagination-bullet-horizontal-gap: 5px;
        @include min(1420) {
            bottom: 20% !important;
            left: -15px !important;
            top: unset !important;
        }
        .swiper-pagination-bullet {
            width: 6px;
            height: 30px;
            border-radius: 6px;
        }
    }
    .service-slider {
        padding-left: 70px;
        padding-block: 40px;
        cursor: none;
        .service-description {
            opacity: 1;
            transform: translateX(0);
            transition: 0.43s ease-in-out opacity, 0.43s ease-in-out transform;
        }
        .service-image {
            border-radius: 24px;
            overflow: hidden;
            transition: 0.8s ease-in-out transform;
            @include aspectRatio(750, 591);
            width: 491px;
        }
        .swiper {
            overflow: visible;
            &-wrapper {
                transition-timing-function: cubic-bezier(0.81, 0.17, 0.23, 1.04);
            }
        }
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            &.swiper-slide-prev,
            &.swiper-slide-next {
                .service-description {
                    opacity: 0;
                    transform: translateX(-10px);
                }
                .service-image {
                    transform: scale(0.8);
                    transform-origin: center;
                }
            }
            &.swiper-slide-active {
                .service-image {
                    transform: scale(1.13) translateX(-30px);
                }
            }
            .service-description {
                font-size: size(16);
                font-weight: $fw-light;
                color: $white;
                max-width: 224px;
                margin-left: 24px;
            }
        }
    }
}

.custom-cursor {
    width: 100px;
    height: 100px;
    background-color: #307470;
    border-radius: 50%;
    font-size: size(16);
    font-weight: $fw-regular;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $quinary-color;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.service-title-slider {
    @include min-max(992, 1419.98) {
        margin-bottom: size(80);
    }
    .swiper-slide {
        display: flex;
        align-items: center;
        transition: 0.1s ease opacity;
        &.swiper-slide-active {
            opacity: 1;
            .service-title {
                .wordInner {
                    transform: initial;
                }
            }
        }
        &:not(.swiper-slide-active) {
            opacity: 0 !important;
        }
    }
    .service-title {
        font-size: size(75);
        font-weight: $fw-black;
        color: $white;
        margin-right: auto;
        margin-bottom: 0;
        .word {
            overflow: hidden;
        }
        .wordInner {
            transform: scaleY(2.5) translateY(1.5em);
            transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) !important;
            transition-delay: 0;
            will-change: transform;
            display: inline-block;
        }
    }
}

// mobile responsive
.service-preview-slider-mob {
    margin-bottom: size(69);
    .swiper-slide {
        &:not(.swiper-slide-active) {
            opacity: 0 !important;
        }
        &.swiper-slide-active {
            opacity: 1 !important;
        }
    }
    .service-image {
        border-radius: 16px;
        overflow: hidden;
        @include aspectRatio(342, 342);
        margin-bottom: size(32) !important;
    }
    .service-title {
        font-size: size(40);
        font-weight: $fw-black;
        margin-bottom: size(32);
        color: $white;
    }
    .service-description {
        font-size: size(16);
        font-weight: $fw-light;
        margin-bottom: size(24);
        color: $white;
        + a {
            font-size: size(16);
            font-weight: $fw-regular;
            color: $quinary-color;
            text-transform: uppercase;
        }
    }
}

.service-thumb-slider-mob {
    overflow: visible !important;
    .service-image {
        @include aspectRatio(80, 80);
        border-radius: 4px;
        overflow: hidden;
    }
    .swiper-slide-thumb-active {
        .service-image {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 2px 2px $secondary-color inset;
            }
        }
    }
}
