:root {
    --pb-font-family: "Inter", Sans-serif;
    --text-color: #0e0f0c;
    --bg-green: #d1f386;
    --bg-orange: #ffc18e;
    --bg-dark: #422b72;
    --bg-grey: #f6f3f6;
    --btn-primary: #422b72;
    --btn-text-primary: #ffc18e;
    --btn-quinary: #ffc18e;
    --btn-text-quinary: #422b72;
    --title-dark: #422b72;
    --theme-brand-card-bg: #fff;
    --theme-card-box-shadow: rgba(0, 0, 0, 0.25);
}
