@import "./root";

@import "./variables";
// @import "./utilities";
@import "./mixins";

// Bootstrap scss-docs-start import-stack
// Configuration
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
// @import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
// @import "../../../node_modules/bootstrap/scss/tables";
// @import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
// @import "../../../node_modules/bootstrap/scss/dropdown";
// @import "../../../node_modules/bootstrap/scss/button-group";
// @import "../../../node_modules/bootstrap/scss/nav";
// @import "../../../node_modules/bootstrap/scss/navbar";
// @import "../../../node_modules/bootstrap/scss/card";
// @import "../../../node_modules/bootstrap/scss/accordion";
// @import "../../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../../node_modules/bootstrap/scss/pagination";
// @import "../../../node_modules/bootstrap/scss/badge";
// @import "../../../node_modules/bootstrap/scss/alert";
// @import "../../../node_modules/bootstrap/scss/progress";
// @import "../../../node_modules/bootstrap/scss/list-group";
// @import "../../../node_modules/bootstrap/scss/close";
// @import "../../../node_modules/bootstrap/scss/toasts";
@import "../../../node_modules/bootstrap/scss/modal";
// @import "../../../node_modules/bootstrap/scss/tooltip";
// @import "../../../node_modules/bootstrap/scss/popover";
// @import "../../../node_modules/bootstrap/scss/carousel";
// @import "../../../node_modules/bootstrap/scss/spinners";
// @import "../../../node_modules/bootstrap/scss/offcanvas";

// Helpers
// @import "../../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../../node_modules/bootstrap/scss/utilities/api";
// Bootstrap scss-docs-end import-stack

@import "./components/preloader";

@import "./components/home-banner";
@import "./components/home-video";
@import "./components/home-about";
@import "./components/home-brands";
@import "./components/home-services";
@import "./components/home-features";
@import "./components/service-slider";

// Resets
html,
body {
  font-size: 16px;
  font-family: $ff-primary;
}

body {
  @include min(992) {
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      border-radius: 40px;
    }
  }
}

// .modal {
//   @include min(992) {
//     &::-webkit-scrollbar {
//       width: 8px;
//     }
//     &::-webkit-scrollbar-track {
//       box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     }
//     &::-webkit-scrollbar-thumb {
//       background-color: $primary-color;
//       border-radius: 40px;
//     }
//   }
// }

@include min(992) {
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  html.lenis {
    height: auto;
  }
}

* {
  font-family: $ff-primary;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  &.no-decoration {
    text-decoration: none;
  }
}

figure {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  cursor: pointer;
  color: currentColor;
  &:hover {
    color: currentColor;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(15, 15, 15);
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill ~ button,
input:-webkit-autofill:hover ~ button,
input:-webkit-autofill:focus ~ button {
  background-color: $primary;
  color: #fff;
}

// button {
//   &.default {
//     background-color: transparent;
//     border: none;
//   }
// }

// ul {
//   &.default {
//     padding-left: 0;
//     margin-bottom: 0;
//     list-style: none;
//   }
// }

// font family
// .ff-primary {
//   font-family: $ff-primary;
// }

// title sizes
@each $level, $size in $h-sizes {
  h#{$level},
  .h#{$level} {
    @each $bp, $fs in $size {
      @if ($bp == null) {
        font-size: size($fs);
      } @else {
        @include min($bp) {
          font-size: size($fs);
        }
      }
    }
  }
}

// text-sizes
@each $level, $size in $p-sizes {
  .fs-#{$level} {
    @each $bp, $fs in $size {
      @if ($bp == null) {
        font-size: size($fs);
      } @else {
        @include min($bp) {
          font-size: size($fs);
        }
      }
    }
  }
}

// font weight
@each $name, $weight in $font-weights {
  .fw-#{$name} {
    font-weight: $weight;
  }
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  @include max(991.98) {
    --pb-btn-font-size: 16px;
  }
  &:not(.btn-link) {
    justify-content: center;
  }
  &:focus,
  &:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
  &-primary {
    color: $btn-text-primary !important;
    background-color: $primary-color !important;
    @include noTouchDevices {
      &:not(.no-hover-bg) {
        &:hover {
          color: $btn-primary !important;
          background-color: $btn-text-primary !important;
          border-color: $btn-text-primary !important;
        }
      }
    }
  }
  &-quinary {
    color: $btn-text-quinary !important;
    background-color: $btn-quinary !important;
    border-color: $btn-quinary !important;
    @include noTouchDevices {
      &:not(.no-hover-bg) {
        &:hover {
          color: $btn-quinary !important;
          background-color: $btn-text-quinary !important;
          border-color: $btn-quinary !important;
        }
      }
    }
  }
  &-green {
    color: $btn-text-green !important;
    background-color: $btn-green !important;
  }
  &-outline-quinary {
    color: $btn-quinary !important;
    background-color: $btn-text-quinary !important;
    border-color: $btn-quinary !important;
    @include noTouchDevices {
      &:not(.no-hover-bg) {
        &:hover {
          color: $btn-text-quinary !important;
          background-color: $btn-quinary !important;
          border-color: $btn-quinary !important;
        }
      }
    }
  }
}

// .stretch-up {
//   overflow: hidden;
//   > * {
//     @include min(992) {
//       opacity: 0;
//       display: inline-block;
//       transform: translateY(100%) scaleY(2.5);
//     }
//   }
// }

.fade-up {
  > * {
    @include min(992) {
      opacity: 0;
      transform: translateY(20px);
    }
  }
}

.btn-enquiry {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  @include min(992) {
    width: 80px;
    height: 80px;
    opacity: 0;
    transform: translateY(20px);
    transform-origin: center;
    will-change: transform, opacity;
    transition: 0.43s ease-in-out all;
  }
  @include noTouchDevices {
    &:hover {
      transform: scale(1.1) !important;
    }
  }
  &-wrap {
    position: fixed;
    z-index: 1061;
    transition: 0.3s ease all;
    bottom: 20px;
    right: 20px;
    @include min(992) {
      bottom: 80px;
    }
    &.btn-enquiry-hide {
      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);
    }
    img {
      transform: scale(1);
      transition: 0.3s ease-in-out transform, 0.3s ease-in-out opacity;
      will-change: transform, opacity;
    }
    .close-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: 0.3s ease-in-out transform;
      will-change: transform;
      transform-origin: center;
      &::before,
      &::after {
        content: "";
        background-color: $primary-color;
        width: 32px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
      }
      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    .enquiry-tooltip {
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translate(-95%, -50%);
      background-color: $primary-color;
      opacity: 0;
      visibility: hidden;
      padding: 15px 20px;
      border-radius: 10px;
      font-size: size(18);
      font-weight: $fw-medium;
      transition: 0.43s ease-in-out all;
      will-change: transform, opacity;
      color: $quinary-color;
      white-space: nowrap;
      &.green {
        background-color: $btn-green;
        &::after {
          background-color: $btn-green;
        }
      }
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%) rotate(45deg);
      }
      &.tooltip-hide {
        opacity: 0 !important;
        transform: translate(-105%, -50%) !important;
      }
    }
  }
}

body {
  &.modal-open {
    overflow: hidden !important;
    .btn-enquiry {
      background-color: $quinary-color !important;
      border-color: $quinary-color;
      &-wrap {
        @include min(992) {
          right: 72px;
        }
      }
      img {
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
      }
      .close-icon {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    .enquiry-tooltip {
      display: none;
    }
  }
}

.enquiry-modal {
  &.green {
    .modal-content {
      background-color: $btn-green;
      .btn-quinary {
        color: $btn-green;
        @include noTouchDevices {
          &:hover {
            background-color: $btn-green;
            color: $quinary-color;
          }
        }
      }
      .btn-outline-quinary {
        background-color: $btn-green;
        @include noTouchDevices {
          &:hover {
            background-color: $quinary-color;
            color: $btn-green;
          }
        }
      }
    }
  }
  .modal-content {
    background-color: $primary-color;
    border-radius: 32px;
    padding: size(40) size(25);
    @include min(992) {
      padding: size(45);
    }
    @include max(680, height) {
      padding: size(40);
    }
  }
  .modal-body {
    padding: 0;
  }
  .modal-dialog {
    @include min(576) {
      max-width: 555px;
    }
    @include max(680, height) {
      max-width: 500px;
    }
    @include min(992) {
      margin-right: 11%;
      display: flex;
      align-items: flex-end;
    }
    &-scrollable {
      @include min(576) {
        height: calc(100% - 30px);
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
  &__title {
    color: $white;
    margin-bottom: size(10);
    text-align: center;
    font-size: size(30);
    @include min(992) {
      font-size: size(34);
    }
    .golden-text {
      color: $quinary-color;
    }
  }
  .btn-close {
    display: none;
  }
  &__form {
    input[type="submit"] {
      font-size: size(16) !important;
      font-weight: $fw-regular !important;
      padding: 18px 64.5px !important;
      display: block !important;
      margin-top: size(50) !important;
      margin-bottom: size(10) !important;
      font-family: $ff-primary !important;
      @include max(680, height) {
        margin-top: size(35) !important;
      }
    }
  }
}
.modal-backdrop {
  opacity: 0 !important;
}

.form-group {
  margin-bottom: size(16);
  position: relative;
  padding-top: size(16);
  height: 60px;
  .form-label {
    color: $white;
    font-size: size(18);
    position: absolute;
    top: 50%;
    left: 0;
    margin-bottom: 0 !important;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out all;
    will-change: transform, font-size;
    pointer-events: none;
    @include min(1600) {
      font-size: size(20);
    }
  }
  .form-control {
    color: $white;
    font-size: 16px;
    font-weight: $fw-regular;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
    &:focus,
    &:focus-visible {
      box-shadow: none !important;
      outline: none !important;
    }
  }
  textarea {
    resize: none;
  }
  &.focused {
    .form-label {
      font-size: size(14);
      transform: translateY(-105%);
    }
  }
}

.elementor-element {
  &.elementor-widget-icon {
    &[data-widget_type="icon.default"] {
      .elementor-icon-wrapper {
        display: none !important;
      }
    }
  }
}

.enquiry-modal__form {
  .form-group {
    + div {
      position: relative;
    }
  }
  .wpcf7-spinner {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .form-check {
    ~ .row {
      @include max(991.98) {
        margin: 0;
        > * {
          padding: 0;
        }
      }
    }
  }
}

.copyrights-mob {
  p {
    @include max(424.98) {
      font-size: size(15) !important;
      padding: 0 10px;
    }
  }
}

// blogs
.premium-blog-thumbnail-container {
  @include aspectRatio(361, 434);
}

.anim-fade-up {
  @include min(992) {
    display: inline-block;
    opacity: 0;
    transform: translateY(25px);
    transition-delay: 1s;
    will-change: transform, opacity;
    transition: 0.43s ease-in-out all;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.wpcf7-form-control.wpcf7-checkbox {
  .wpcf7-list-item {
    margin-left: 0 !important;
  }
}

.iti-flag {
  transform: scale(1.2) !important;
}
.flag-container {
  padding-bottom: 12px !important;
}
.selected-flag {
  + .wpcf7-form-control {
    padding-bottom: 14px !important;
  }
}

.wpcf7-form-control.has-spinner.wpcf7-submit.btn.btn-quinary.w-100.btn-border {
  margin-bottom: 8px !important;
  margin-top: 10px !important;
}
.wpcf7-phonetext {
  transform: translateY(-3px);
}
